$main-color: #2a384f;
$hover-color: #818B9B;
$email-color: #536E9B;

@mixin main-font{
  font-family: Helvetica neue, Tahoma;
  font-weight: lighter;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

p {
  @include main-font;
  font-size: 1em;
  line-height: 140%;
  margin: 0.3em 0 0.3em 0em;
}

a {
  text-decoration: none;
}

h3{
  @include main-font;
  font-size: 1.5em;
}

nav{
  h1{
    @include main-font;
    color: white;
    margin-left: 3em;
    font-size: 2em;
    display: inline-block;
    min-width: 19.2em;
  }
  h1 a{
    color: white;
  }
  ul {
      list-style-type: none;
      margin-right: 4em;
      position: relative;
      display: inline-block;
  }

  li{
    @include main-font;
    width: auto;
    float: left;
    color:white;
    padding-right: 1em;
    font-size: 1.5em;
    display: inline;
  }

  li a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding-bottom: 0.1em;
    display: inline-block;
    }
}

.email{
  color: $email-color;
}
