$main-color: #2a384f;
$hover-color: #818B9B;
$email-color: #536E9B;

@mixin main-font{
  font-family: Helvetica neue, Tahoma;
  font-weight: lighter;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

p{
  @include main-font;
  font-size: 1em;
  line-height: 140%;
}

nav h1{
  @include main-font;
  color: white;
  margin-left: 1.2em;
  float: left;
  font-size: 2em;
  margin-right: 3em;
}

h3{
  @include main-font;
  font-size: 1.5em;
}
a{
  text-decoration: none;
  color: black;
}
nav{
  ul {
      list-style-type: none;
      margin: 0;
      margin-top: 2.6em;
      margin-right: 3em;
      float: left;
      position: relative;
  }

  li{
    @include main-font;
    width: auto;
    float: left;
    color:white;
    padding-right: 1em;
    font-size: 23px;
    display: inline;
  }

  li a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding-bottom: 0.1em;
    display: inline-block;
    }

}

.email{
  color: $email-color;
}
