@media only screen and (max-width: 860px){
  #header{
  height: 9em;
  }
  nav {
    justify-content: center;
    flex-direction: column;
    h1 {
      margin-left: 0em;
      display: block;
    }
    ul{
      margin: 0em;
      padding-left: 0;
      display: block;
    }
  }

  .wrapper{
    margin-top: 9em;
  }
}

@media only screen and (max-device-width: 860px){
  #header{
  height: 18em;
}
.wrapper{
  margin-top: 18em;
}
.footer {
  flex-direction: column;
  flex: 1;
}
.margin {
  flex: 0;
}
p {
    font-size: 4em;
}
  nav {
    justify-content: center;
    flex-direction: column;
    font-size: 2.5em;
    h1 {
      margin-left: 0em;
      display: block;
    }
    ul{
      margin: 0em;
      padding-left: 0;
      display: block;
    }
  }


}
