$main-color: #2a384f;

@mixin main-font{
  font-family: Helvetica neue, Tahoma;
  font-weight: lighter;
}

@media only screen and (max-width: 868px){
 header{
  height: 9em;
  }

  nav {
    justify-content: center;
    flex-direction: column;
    h1 {
      margin-left: 0em;
      display: block;
    }
    ul{
      margin: 0em;
      padding-left: 0;
      display: block;
      min-width: 0em;
    }
    li:nth-last-child(2){
      padding-right: 0em;
    }
  }
  .wrapper{
    margin-top: 9em;
  }
}
/* iPad */
@media only screen and (max-device-width: 1025px)
and (min-device-width: 501px){
  header{
   height: 8em;
   }

   nav {
     justify-content: center;
     flex-direction: column;
     h1 {
       margin-left: 0em;
       margin-bottom: 0em;
       display: block;
       font-weight: 230;
     }
     ul{
       margin: 0em;
       padding-left: 0;
       display: block;
       min-width: 0em;
     }
     li {
       font-weight: 200;
     }
     li:nth-child(4){
       padding-right: 0em;
     }
   }
   .wrapper{
     margin-top: 7em;
   }
}

/* Mobil */
@media only screen and (max-device-width: 568px){
  header {
    height: 3em;
  }
  .margin {
  flex: 0;
  }
  .wrapper {
    margin-top: 3em;
    transition: 0.29s ease-in;
  }
.space-around {
  width: 100%;
  display: flex;
  min-width: 0em;
}
  nav {
    flex-direction: column;
    background-color: $main-color;
    h1 {
      margin-top: 0.6em;
      font-size: 1.5em;
      font-weight: 300;
    }
    ul{
      margin: 0em;
      margin-bottom: 0.3em;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      min-width: 0em;
    }
    li {
      text-align: center;
      font-weight: 200;
    }
    li a {
      margin-bottom: 0.2em;
      padding-bottom: 0em;
    }
  }
}

@media only screen and (max-device-width: 568px)
and (orientation: landscape){
  .margin {
  flex: 0;
  }
  .wrapper {
    margin-top: 3em;
    transition: 0.29s ease-in;
  }
.space-around {
  width: 100%;
  display: flex;
  min-width: 0em;
}
  nav {
    flex-direction: column;
    background-color: $main-color;
    h1 {
      margin-top: 0.4em;
    }
    ul{
      margin: 0em;
      margin-bottom: 0.3em;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      min-width: 0em;
    }
    li {
      text-align: center;
      font-weight: 200;
    }

    li a {
      margin-bottom: 0.2em;
    }
  }
}
