@mixin transition() {
  -webkit-transition: 0.23s ease-in-out;
     -moz-transition: 0.23s ease-in-out;
      -ms-transition: 0.23s ease-in-out;
          transition: 0.23s ease-in-out;
}

@mixin main-font{
  font-family: Helvetica neue, Tahoma;
  font-weight: lighter;
}

line{
  display:  block;
  width: 2.9em;
  height: 0.2em;
  background: white;
  border: none;
  @include transition();
  margin-top: 1.7em;
}
