$main-color: #2a384f;
$hover-color: #818B9B;


@mixin main-font{
  font-family: Helvetica neue, Tahoma;
  font-weight: lighter;
}
@mixin transition() {
  -webkit-transition: 0.23s ease-in-out;
     -moz-transition: 0.23s ease-in-out;
      -ms-transition: 0.23s ease-in-out;
          transition: 0.23s ease-in-out;
}

#at{
  font-size: 2em;
  padding-right: 0.5em;
}

h3{
  @include main-font;
  font-size: 1.5em;
  padding-bottom: 1.5em;
}



line{
  display:  block;
  width: 4.6em;
  height: 0.1em;
  background: white;
  border: none;
  @include transition();
  margin-top: 1.7em;
  margin-left: 69%;
}
